/* .conteiner{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: box;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: .9s;

} */
 body{ 
     width: 100%;
     overflow: hidden;
     background-repeat: no-repeat;
     background-size: fill;
     background-blend-mode: lighten;
     display: flex;
     align-items: center;
     justify-content: center;
     background-position: center center;
     height: 100vh;
 } 

body>img{
    width: 100%;
    display: inline-block;
    animation-name: box;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: .9s;
}
.luz{
    filter: drop-shadow(0 0 15px yellow);
}
body>img[src*="cerrado.png"]{
    /* width: 350px; */
    width:45%;
    object-fit: cover;

}
body>img[src*="abierto.png"]{
    /* width: 350px; */
    width: 80%;
}

*{
    box-sizing: border-box;
}
@media (max-width:393px) {
    body>img[src*="cerrado.png"]{
    position: relative;
    left: 20px;
    width: 380px;
    }
    body>img[src*="abierto.png"]{
     width:600px; 
}

} 
 @keyframes box {
    from{
        transform: translateY(5%);
    }to{
        transform: translate(0);
    }
}